{% extends 'layouts/app.html' %}

{% block content %}

<h1>Dashboard {{request.user.username}}</h1>
<a href='{% url 'logout' %}' class = 'btn btn-default'>Logout</a>
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Welcome, {{ user_profile.user.username }}!</h2>
        <p>Email: {{ user_profile.user.email }}</p>
        <p>Address: {{ user_profile.address }}</p>
        {% if user_profile.profile_picture %}
            <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture">
        {% endif %}
    </div>
</body>
</html>

{% endblock %}